{
  "singleQuote": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.svg"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
