p {
  font-size: 50pt;
}

.full-height {
  max-height: 100vh;
  min-height: 80vh; /* Set the minimum height to 50% of the viewport height */
}

.fixed-height {
  height: 70vh;
}

.fixed-width1 {
  width: 10vw;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
}

.small-text {
  font-size: 12px;
}
