p {
  font-size: 50pt;
}

.full-height {
  max-height: 100vh;
  min-height: 80vh; /* Set the minimum height to 50% of the viewport height */
}

.fixed-height {
  height: 70vh;
}

.fixed-width1 {
  width: 10vw;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
}

.small-text {
  font-size: 12px; /* Adjust the font size as needed */
}
/* Add this to your CSS stylesheet */

#light-green {
  background-color: red;
}

#dark-green {
  background-color: #155724 !important; /* Dark green color */
  color: #fff !important; /* White text for better visibility on dark background */
}

/* class="{% if violation.employee and not violation.pdf %}light-green{% elif violation.pdf %}dark-green{% endif %}" */
