<div class="container full-height center-div flex-column">
  {% comment %} success and fail message {% endcomment %}
  <div class="popup-container hidden" id="success-popup">
    <div class="popup-content">
      <span class="popup-icon">&#10004;</span>
      <p id="success-message"></p>
    </div>
  </div>
  <div class="popup-container-failed hidden" id="fail-popup">
    <div class="popup-content">
      <span class="popup-icon">&#10008;</span>
      <p id="fail-message"></p>
    </div>
  </div>
</div>
{% comment %} success and fail message {% endcomment %}
<div class="container full-height center-div flex-column">
  {% comment %} success and fail message {% endcomment %}
  <div class="popup-container2" id="">
    <div class="popup-content2"></div>
  </div>
</div>
