{% load static %}
<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a
          href="{% url 'violations' %}"
          class="nav-link link-body-emphasis px-2 active"
          aria-current="page"
        >
          Violations
        </a>
      </li>
      <li class="nav-item">
        <a
          href="{% url 'new-violations' %}"
          class="nav-link link-body-emphasis px-2"
        >
          New
        </a>
      </li>
    </ul>
    <ul class="nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <span class="nav-link link-body-emphasis px-2">
          Welcome, {{ user.username }}
        </span>
      </li>
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link link-body-emphasis px-2">
          Logout
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link link-body-emphasis px-2">
          Login
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
