{% extends 'base.html' %} {% block content %}
<div class="container full-height center-div flex-column">
  {% comment %} success and fail message {% endcomment %}
  <div class="popup-container hidden" id="success-popup">
    <div class="popup-content">
      <span class="popup-icon">&#10004;</span>
      <p id="success-message"></p>
    </div>
  </div>
  <div class="popup-container-failed hidden" id="fail-popup">
    <div class="popup-content">
      <span class="popup-icon">&#10008;</span>
      <p id="fail-message"></p>
    </div>
  </div>
  {% comment %} success and fail message {% endcomment %}

  <div class="d-flex flex-column" style="min-width: 25vw">
    <label for="" class="form-label">Select Add Method</label>
    <select class="form-select mb-3" id="selection_method">
      <option value="excel">Add by Excel</option>
      <option value="form" selected>Add by Form</option>
    </select>
  </div>

  <div class="mx-3 fixed-height2" id="formDiv">
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="inputbyform" value="150" />

      <div class="" style="min-width: 25vw">
        <label for="formFile" class="form-label">Add new violations</label>
      </div>

      <div class="d-flex">
        <div class="mb-3 w-100">
          <input
            type="text"
            class="form-control"
            name="violation_no"
            placeholder="Violation No."
            required
          />
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="mb-3 me-3 w-100">
          <input
            type="date"
            class="form-control"
            name="date"
            placeholder="date"
            required
          />
        </div>
        <div class="mb-3 w-100">
          <input
            type="time"
            class="form-control"
            name="time"
            placeholder="time"
            required
          />
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="mb-3 me-3 w-100">
          <input
            type="text"
            class="form-control"
            name="bus_plate"
            placeholder="Bus Plate in Arabic Only"
            required
          />
        </div>
        <div class="mb-3 w-100">
          <input
            type="text"
            class="form-control"
            name="amount"
            placeholder="Amount (SAR)"
            required
          />
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="form-floating mb-3 w-100">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            name="violation_type_arabic"
            style="height: 10vh"
          ></textarea>
          <label for="floatingTextarea">Violation Type in Arabic</label>
        </div>

        <div class="form-floating mb-3 w-100">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            name="violation_type_eng"
            style="height: 10vh"
            required
          ></textarea>
          <label for="floatingTextarea">Violation Type in English</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>

  <div class="fixed-height2 hidden-div" id="excelDiv">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="excel" value="100" />
      <div class="mb-3" style="min-width: 25vw">
        <label for="formFile" class="form-label">
          Add new violations - Select Excel file (xls or xlsx)
        </label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          name="excelFile"
          accept=".xls, .xlsx"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>

<script>
  document
    .getElementById('selection_method')
    .addEventListener('change', function () {
      var selectedMethod = this.value;
      console.log(selectedMethod);
      // Show/hide divs based on the selected method
      if (selectedMethod === 'excel') {
        document.getElementById('excelDiv').classList.remove('hidden-div');
        document.getElementById('formDiv').classList.add('hidden-div');
      } else if (selectedMethod === 'form') {
        document.getElementById('formDiv').classList.remove('hidden-div');
        document.getElementById('excelDiv').classList.add('hidden-div');
      }
    });

  // Function to show the success pop-up
  function showSuccessPopup(status, message) {
    var successPopup = document.getElementById('success-popup');
    var popupMessage = document.getElementById('success-message');

    popupMessage.textContent = message;
    successPopup.classList.remove('hidden');

    // Hide the pop-up after a delay (e.g., 3 seconds)
    setTimeout(function () {
      successPopup.classList.add('hidden');
    }, 5000); // Adjust the delay as needed
  }

  function showFailPopup(status, message) {
    var failPopup = document.getElementById('fail-popup');
    var popupMessage = document.getElementById('fail-message');

    popupMessage.textContent = message;
    failPopup.classList.remove('hidden');

    // Hide the pop-up after a delay (e.g., 3 seconds)
    setTimeout(function () {
      failPopup.classList.add('hidden');
    }, 20000); // Adjust the delay as needed
  }

  var status = '{{status}}';
  var message = '{{message}}';
  if (status == 'Success') {
    showSuccessPopup(status, message);
  } else if (status == 'Failed') {
    showFailPopup(status, message);
  }
</script>
{% endblock %}
