<div class="container full-height center-div">
  <div class="d-flex flex-row justify-content-center align-content-center">
    <div class="card p-3" style="width: 25vw">
      <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
          <div class="d-flex justify-content-center">
            <label for="" class="fw-bold text-center">Login</label>
          </div>

          <label for="" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
