{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="table-responsive fixed-height overflow-scroll">
    <table class="table table-striped table-hover">
      <thead class="sticky-top">
        <tr>
          <th scope="col" class="small-text">Violation No.</th>
          <th scope="col" class="small-text">Violation Date</th>
          <th scope="col" class="small-text">Time</th>
          <th scope="col" class="small-text">Bus Panel (English)</th>
          <th scope="col" class="small-text">Amount (SAR)</th>
          <th scope="col" class="small-text">Violation Type (English)</th>
          <th scope="col" class="small-text">Violation Type (Arabic)</th>
          <th scope="col" class="small-text">PTC ID#</th>
        </tr>
      </thead>
      <tbody>
        {% for item in violations %}
        <tr>
          <td class="small-text">{{ item.violation_id }}</td>
          <td class="small-text">{{ item.date }}</td>
          <td class="small-text">{{ item.time }}</td>
          <td class="small-text">{{ item.bus_panel }}</td>
          <td class="small-text">{{ item.amount }}</td>
          <td class="small-text">{{ item.violation_type }}</td>
          <td class="small-text">{{ item.violation_type_arabic }}</td>
          <td class="small-text">{{ item.employee }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
