{% extends 'base.html' %} {% block content %}
<div class="container full-height">
  <table class="table table-striped table-hover full-height overflow-scroll">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Violation No.</th>
        <th scope="col">Violation Date</th>
        <th scope="col">Time</th>
        <th scope="col">Bus Panel (English)</th>
        <th scope="col">Amount (SAR)</th>
        <th scope="col">Violation Type (English)</th>
        <th scope="col">Violation Type (Arabic)</th>
        <th scope="col">PTC ID#</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.violation_no }}</td>
        <td>{{ item.violation_date }}</td>
        <td>{{ item.violation_time }}</td>
        <td>{{ item.bus_panel }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.violation_type_english }}</td>
        <td>{{ item.violation_type_arabic }}</td>
        <td>{{ item.ptc_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
